extends template.pug

block content
    h2.ui.header Users
    div.users
        table.ui.celled.table
            thead
                th.two.wide ID
                th.seven.wide Username
                th.four.wide Date Added
                th.three.wide Actions
            tbody
                each m in users
                    tr
                        td #{m.id}
                        td
                            a(href="https://reddit.com/u/" + m.name, target="_blank") #{m.name}
                            if m.admin
                                span &nbsp;(admin)
                        td #{m.date}
                        td
                            a.ui.button.red(href="users/" + m.id + "/delete") Remove
                            if m.admin
                                a.ui.button(href="users/" + m.id + "/revoke_admin") Revoke Admin
                            else
                                a.ui.button(href="users/" + m.id + "/make_admin") Make Admin
