extends template.pug

block content
    h2.ui.header Scenes
    div.scenes
        table.ui.celled.table
            thead
                th.one.wide Scene ID
                th.three.wide Post Fullname
                th.four.wide Actions
            tbody
                each s in scenes
                    tr
                        td #{parseInt(s.scene_id)}
                        td #{s.fullname}
                        td
                            a.ui.button.red(href="scenes/" + s.scene_id + "/delete") Delete Scene
    .ui.segment
        h3.ui.header Add New Scene
        p.ui.header Keep in mind that scenes are representative of everyone using the extension and not just the Snakeroom!
        p.ui.header Run it by chat if you are unsure of if the scene is taken.
        form.ui.form(method="POST")
            .field
                label Scene
                select.ui.fluid.dropdown(name="sceneId")
                    each item, index in redditScenes
                        option(value=index) Scene #{index}
            .field
                label Post Fullname
                input(name="fullname" placeholder="t3_xxxxxx" type="text")
            button.ui.button(type="submit") Add Scene
