html(lang="en")
    head
        title Sneknet Admin Dashboard
        link(rel="stylesheet" href="//cdn.witch.gq/css/semantic.min.css")
        link(rel="stylesheet" href="/static/style.css")
        block head
    body
        div.ui.left.fixed.vertical.inverted.menu.sidebar.visible
            .item
                img.ui.mini.image(src="/static/snek.png")
            a.item(href="/admin/dash")
                | Home
                i.home.icon
            a.item(href="/admin/dash/users")
                | Users
                i.users.icon
            a.item(href="/admin/dash/scenes")
                | Scenes
                i.film.icon
            .disabled.item
                | Signed in as <b>/u/#{user.name}</b>
                i.user.icon
        div.page.pusher
            block content
